/* Основні стилі для сторінки */
/* Стилізація всього тіла сторінки */
body {
font-family: Arial, sans-serif;
font-size: 15px;
background-color: #dabcb0;
color: #333;
margin: 15px;
padding: 0;
}

/* Стилізація заголовка */
header {
background-color: #A68E82;
font-family:'Times New Roman', Times, serif;
color: #fff;
text-align: center;
padding: 15px;
}

/* Стилізація заголовків */
h1 {
font-size: 2.5em;
}

h2 {
color: #4A3728;
margin-left: 60px;
margin-top: 15px;
}

/* Стилізація абзаців */
p {
line-height: 1.6;
margin: 15px 15px;
}


/* Стилізація списків */
ul {
list-style-type: disc;
padding-left: 15px;
margin-left: 15px;
}

/* Стилізація цитат */

figure {
    width: fit-content;
    margin: 0;
}

blockquote p {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    
}

figcaption {
    margin-top: -15px;
    text-align: right;
    
}